body {
    background-color: #f9f8f5;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

img {
    width: 150px;
}

.divider {
    width: 30%;
    border-top: 6px solid #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/* Contenitore della griglia */
.grid-container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    column-gap: 10px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* Stile per ogni quadratino */
.grid-item {

    background-color: rgb(211, 209, 209);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #000000;
}

/* Stile per gli input (quadratini cliccabili) */
.grid-item {
    width: 100%;
    height: 100%;
    background-color: rgb(211, 209, 209);
    color: white;
    border: none;
    text-align: center;
    font-size: 30px;
    outline: none;
}

/* Effetto al passaggio del mouse */
.grid-item:hover {
    background-color: rgb(211, 209, 209);
}

.keyboard-container {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.key {
    background-color: #444444;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 5px;
    border: 2px solid #333333;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.key:hover {
    background-color: #555555;
}

.key:active {
    background-color: #666666;
}

/* Spaziatori per dare l'effetto piramidale */
.spacer {
    width: 25px;
}

.spacer.double {
    width: 50px;
}

footer {
    width: 100%;
    text-align: center;
    margin-top: 4%;
    background-color: rgb(79, 117, 221);
    color: white;
    font-size: 24px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*----------------------------------------------------------------------------------------*/

.theme-black-white {
            background-color: #000;
            color: #fff;
        }
        .theme-light {
            background-color: #fff;
            color: #000;
        }
        .theme-dark {
            background-color: #343a40;
            color: #fff;
        }


.bottonitema {
    background-color: white;
    width: 30%;
}