body {
    background-color: #f9f8f5;
    display: flex;
    align-items: center; 
    flex-direction: column;
    height: 100vh;
    margin: 0; 
}
img {
    width: 150px; 
    margin: 20px 0; 
}
.divider {
    width: 100%;
    border-top: 6px dashed #066aff; 
    display: block; 
    margin-left: auto;
    margin-right: auto; 
}

/* Contenitore della griglia */
.grid-container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px; 
    grid-template-rows: 50px 50px 50px 50px 50px 50px; 
    column-gap: 10px; 
    row-gap:20px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* Stile per ogni quadratino */
.grid-item {

    background-color: rgb(211, 209, 209);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #000000;
}

/* Stile per gli input (quadratini cliccabili) */
.grid-item {
    width: 100%;
    height: 100%;
    background-color:rgb(211, 209, 209);
    color: white;
    border: none;
    text-align: center;
    font-size: 30px;
    outline: none;
}
/* Effetto al passaggio del mouse */
.grid-item:hover {
    background-color: rgb(211, 209, 209);
}

/* Contenitore della tastiera */
.keyboard-container {
    display: grid;
    grid-template-columns: repeat(10, 50px); /* 10 colonne per la prima riga */
    grid-template-rows: repeat(4, 50px); /* 4 righe di tasti */
    gap: 5px; /* Spazio tra i tasti */
    justify-content: center;
    margin-top: 50px;
}

/* Stile per ogni tasto */
.key {
    background-color: #444444;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #333333;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.key:hover {
    background-color: #555555;
}

.key:active {
    background-color: #666666;
}

/* Righe speciali per i tasti SHIFT, SPACE, ecc. */
.key-wide {
    grid-column: span 2; /* Espande il tasto su 2 colonne */
}

.key-wide-3 {
    grid-column: span 3; /* Espande il tasto su 3 colonne */
}
